[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lstr = "~=1.0"

[dev-packages]
black = "~=25.0"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
setuptools = "~=75.0"
yamllint = "*"

[requires]
python_version = "3.12"

[scripts]
build = "./scripts/build.sh"
lint = "./scripts/lint.sh"
test = "pytest"
